<footer>
  <ng-container *ngIf="hasRoute('/about')">
    <iframe src="https://json-server-forever.herokuapp.com/tasks"></iframe>
    <p>
      This application uses a
      <a href="https://json-server-forever.herokuapp.com/"> JSON server</a> for
      the backend (updated tasks will reset after ~24hrs)
    </p>
    <p>double click a task to set reminder!</p>
  </ng-container>
  <a
    href="https://github.com/jgault87/angular-firstapp"
    target="_blank"
    class="btn"
    >Github</a
  >
  <a *ngIf="hasRoute('/')" routerLink="/about" class="btn">About</a>
</footer>
